<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Suporte lab - Home</title>
</head>
<body>
    <header class="cabeçalho"> 
        <img src="../static/img/logo.png" alt="Logo Header" class="logoHeader">
        <ul class="menu">
            <li>
                <a href="home.html">Home</a>
            </li>
            <li>
                <a href="contato.html">Contato</a>
            </li>
            <li>
                <a href="">RELATAR PROBLEMA</a>
            </li>
        </ul>
    </header>
    <main>
</body>
</html>