<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/carousel/">
    <title>Suporte lab - Home</title>
    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    
    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
</head>
<body>
    <header class="cabeçalho"> 
        <img src="../static/img/logo.png" alt="Logo Header" class="logoHeader">
        <ul class="menu">
            <li>
                <a href="home.html">Home</a>
            </li>
            <li>
                <a href="quem-somos.html">Quem somos</a>
            </li>
            <li>
                <a href="contato.html">Contato</a>
            </li>
        </ul>
    </header>
    <div>
        
    </div>
</body>
</html>