<section class="as-columns  as-columns--1up  as-banner   ">
    <div class="row">
        <div class="column large-12 medium-12 small-12">
                <div class="as-banner-cont">
                        <div class="as-banner-image as-banner-image--inline-1">
                               <style type="text/css">
                                   .as-banner-image.as-banner-image--inline-1 {
                                       background-image: url("/content/dam/edam/applecare/images/en_US/homepage/psp-hero-banner-homepage-getsupport.image.large_2x.jpg");
                                       }
                                   .as-banner-image.as-banner-image--inline-1:before {
                                       content: "";
                                       display: block;
                                       }
                                   @media only screen and (max-width: 735px) {
                                        .as-banner-image.as-banner-image--inline-1 {
                                            background-image: url("/content/dam/edam/applecare/images/en_US/homepage/psp-hero-banner-homepage-getsupport.image.small_2x.jpg");
                                            }
                                         }
                                    </style>
 
                           <img sizes="(min-width:735px ) 735w, 100vw" src="/content/dam/edam/applecare/images/en_US/homepage/psp-hero-banner-homepage-getsupport.image.large_2x.jpg" alt="" srcset="/content/dam/edam/applecare/images/en_US/homepage/psp-hero-banner-homepage-getsupport.image.small_2x.jpg 735w, /content/dam/edam/applecare/images/en_US/homepage/psp-hero-banner-homepage-getsupport.image.large_2x.jpg 1440w" class="as-image-speculativedownload"></div>
                    </div>
                <div class="as-banner-content">
                 <div class="as-banner-row">  
                 <div class="sectionTitle  as-left sectionTitle-white">
             <h2 class="sectionTitle-heading">Obter suporte</h2><p class="sectionTitle-intro">Selecione um produto. Encontraremos a melhor opção para você.</p></div>
     <div class="as-navLink-wrapper as-navLink--icon as-navLink--light">
             <div class="as-navLink-inner as-left">
                 <a class="as-navLink " href="https://getsupport.apple.com/?caller=home&amp;PRKEYS=" rel="nofollow" data-analytics-event="link.component_click" data-analytics-link-component_name="Start now" data-analytics-link-url="https://getsupport.apple.com/?caller=home&amp;PRKEYS=">
                             <span class="as-navlink-text">Começar agora</span><span class="icon icon-chevronright" aria-hidden="true"></span>
                         </a>
                     </div>
         </div>
     <div class="as-navLink-wrapper as-navLink--icon as-navLink--light">
             <div class="as-navLink-inner as-left">
                 <a class="as-navLink " href="https://apps.apple.com/br/app/apple-support/id1130498044?pt=2003&amp;ct=support.home&amp;mt=8&amp;l=pt" data-analytics-event="link.component_click" data-analytics-link-component_name="Download the Apple Support app" data-analytics-link-url="https://apps.apple.com/br/app/apple-support/id1130498044?pt=2003&amp;ct=support.home&amp;mt=8&amp;l=pt">
                             <span class="as-navlink-text">Baixe o app de suporte da Apple</span><span class="icon icon-chevronright" aria-hidden="true"></span>
                         </a>
                     </div>
         </div>
     </div>
                 </div>
                 </div>
        </div>
 </section>




 <div class="as-banner-content">
    <div class="as-banner-row">  
    <div class="sectionTitle  as-left sectionTitle-white">
<h2 class="sectionTitle-heading">Obter suporte</h2><p class="sectionTitle-intro">Selecione um produto. Encontraremos a melhor opção para você.</p></div>
<div class="as-navLink-wrapper as-navLink--icon as-navLink--light">
<div class="as-navLink-inner as-left">
    <a class="as-navLink " href="https://getsupport.apple.com/?caller=home&amp;PRKEYS=" rel="nofollow" data-analytics-event="link.component_click" data-analytics-link-component_name="Start now" data-analytics-link-url="https://getsupport.apple.com/?caller=home&amp;PRKEYS=">
                <span class="as-navlink-text">Começar agora</span><span class="icon icon-chevronright" aria-hidden="true"></span>
            </a>
        </div>
</div>
<div class="as-navLink-wrapper as-navLink--icon as-navLink--light">
<div class="as-navLink-inner as-left">
    <a class="as-navLink " href="https://apps.apple.com/br/app/apple-support/id1130498044?pt=2003&amp;ct=support.home&amp;mt=8&amp;l=pt" data-analytics-event="link.component_click" data-analytics-link-component_name="Download the Apple Support app" data-analytics-link-url="https://apps.apple.com/br/app/apple-support/id1130498044?pt=2003&amp;ct=support.home&amp;mt=8&amp;l=pt">
                <span class="as-navlink-text">Baixe o app de suporte da Apple</span><span class="icon icon-chevronright" aria-hidden="true"></span>
            </a>
        </div>
</div>
</div>
    </div>